@charset "utf-8";
*{margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;}

  html,body{height: 100vh;
            width: 100vw;
             background-color: black;}

  main{height: 100vh;
        position: relative;
       
       } 
        
      body{ background-image: url('imgs/fundo-madeira.jpg');
            background-size: cover;
            background-attachment: fixed;
            }
    
       #telefone{height: 600px;
                 width: 311px;
                
                position: absolute;
                top: 50%;
                left: 50%;
               transform: translate(-50%, -50%);
               background-image: url('imgs/frame-iphone.png') ;
                background-size: cover;} 


      iframe#tela{position: relative;
                   top:81px;
                   left:25px;
                   width: 262px;
                   height: 470px;}

      #redesociais{display: flex;
                   flex-direction: column;
                    gap: 10px;
                    align-items: flex-end;
                   }             
                   
                   
     #redesociais img{width: 80px;
                      border-radius:50%;
                      box-shadow: 2px 2px 5px black;
                       display: flex;
                      margin-right: 50px;
                      box-sizing: border-box;/*essa configuracao impede que os demais elementos se movimente*/
                      
                 }             

    #primeiroItem{margin-top: 50px;}   

    
    #redesociais img:hover{border: solid 3px white;
                           transform: translate(-3px,-3px);
                           box-shadow: 5px 5px 20px black;
                           transition: transform .5s,border 1s;
                           }  